* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0c1d;
}
.hidden-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.hidden-content.visible {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 80px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
